<!DOCTYPE html>
<html>

<head>
    <title>
        HTML Input formNoValidate Attribute
    </title>
    <style>
        h1 {
            color: green;
        }
    </style>
</head>

<body style="text-align:center;">
<h1>
    GeeksforGeeks
</h1>

<h4>
    HTML Input formNoValidate Attribute
</h4>

<form action="#" method="get" target="_self" novalidate>
    Username:
    <input type="email" name="userid">
    <input type="submit" id="Geeks" name="myGeeks"
           value="Submit @ geeksforgeeks" formTarget="_blank"
           formnovalidate>

</form>

</body>

</html>
